:root {
    font-size: 14px;
}

/* MENU */
.container-menu{
    grid-template-columns: auto auto auto;
}

.container-menu > a {
    padding: 10px 20px;
}

.container-menu > a > img {
    height: 60px;
    object-fit: contain;
    width: auto;
    padding: 0;
}
.container-menu > button {
    display: none;
}

#main-nav{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0;
    position: static;
}

#main-nav > ul{
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr;
    grid-template-rows: none;
    grid-gap: 45px;
    text-align: center;
    background-color: initial;
}

#lang{
    padding: 10px;
    justify-content: end;
}

/* ACCUEIL BODY */
#home{
    display: grid;
    grid-template-areas:
        "slider slider"
        "accueil accueil"
        "movies about"
        "footer footer";
    grid-template-columns: 1fr 1fr;
}

header{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 80px;
    z-index: 9999;
}

/* BANDEAU ACCUEIL */
.bandeau_accueil{
    grid-area: accueil;
    grid-template-rows: 70px 140px;
}

.bandeau_accueil > h1{
    font-size: 25px;
    grid-template-rows: 40px 130px;
}

/* SLIDER */
#slider_container{
    grid-area: slider;
}

img.active{
    height: 680px;
}

#first, #second{
    font-size: 3.5em;
    line-height: 90px;
}

/* MOVIES ACCUEIL*/
#movies{
    grid-area: movies;
    grid-template-areas:
        "movie-title movie-title"
        "movie-one movie-two";
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto repeat(3, 240px);
}

#movies > figure{
    height: 100%;
    display: block;
}

#movies > figure > img{
    height: calc(100% - 80px);
}

#movies > h2{
    grid-area: movie-title;
    font-size: 25px;
    margin-bottom: 30px;
}

#movies > figure > figcaption{
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}



/* ABOUT ACCUEIL*/

#about{
    grid-area: about;
    display: flex;
    justify-content: center;
    padding: 0 50px;
    flex-direction: column;
    background-color: rgba(101,117,252,0.6);
}

#about > h2{
    font-size: 25px;
    margin-bottom: 30px;
}

#about > p{
    font-family: cursive;
    line-height: 3.2rem;
}

#footer-main{
    grid-area: footer;
}

/* FOOTER */
#footer-main > nav > ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

/* CONTACT */
#footer-main > a > img {
    width: auto;
}

.map-responsive {
    height: 350px;
}

/* PROCHAINEMENT */
#prochain_films{
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    padding: 10px;
    margin: 0;
    background-color: rgba(101,117,252,0.5);
}

#prochain_films > figure > img{
    height: 500px;
}

#prochain_films > figure > figcaption{
    text-align: center;
}

/* FILMS */
.all-section-movies{
    display: grid;
    grid-template-columns: 25% 75%;
    grid-gap: 10px;
}

.filters{
    align-content: center;
    border: 2px solid silver;
    border-radius: 5px;
    margin: 10px 0;
}

#gender{
    grid-template-columns: 1fr;
}

.movies-2{
    margin: 10px 10px 10px 0;
    border: 2px solid silver;
    border-radius: 5px;
}

.movies-3x{
    grid-template-columns: 1fr 1fr 1fr;
    padding: 10px 0 10px 0;
}

.movies-3x > figure > img{
    object-fit: contain;
    min-height: 300px;
}

.search-barre{
    display: flex;
    justify-content: center;
}

/* CONTACT */
#form-map{
    display: grid;
    grid-template-areas: "map form";
}

#form-map > .form{
    grid-area: form;
    margin: 10px;
}

.map-responsive{
    grid-area: map;
    height: auto;
    margin: 10px 0 10px 50px;
}

/* DETAILS DU FILM */
.img-detail > img{
    max-width: 60%;
}

/* RESERVATION*/

#recap{
    width: 65%;
}

#form_resea{
    width: 65%;
}