:root {
    font-size: 10px;
}

/** HEADER **/

header {
    display: grid;
    grid-template-columns: 1fr;
    position: fixed;
    z-index: 100;
    width: 100%;
}

.container-menu{
    display: grid;
    grid-template-columns: auto 50px 60px;
    width: 100%;
    height: 100%;
    background: linear-gradient(#78bce4, #6575fc);
}

.container-menu > a > img{
    width: 100px;
    padding: 15px;
}

.container-menu > button{
    display: flex;
    justify-content: center;
    padding: 15px;
    align-items: center;
    border: none;
    background: linear-gradient(#78bce4, #6575fc);
}

#desktop-menu{
    display: none;
}

#icon > i{
    width: 100%;
    color: #071efc;
}

.lang > a {
    border-radius: 5px 5px 0 0;
    background: linear-gradient(#78bce4, #6575fc);
    padding: 0.4rem;
}

.lang > a > img{
    width: 32px;
    height: 25px;
}

.lang{
    display: flex;
    justify-content: center;
    align-items: center;
}

#other{
    position: absolute;
    display: none;
    right: 9px;
    top: 50px;
    border-radius: 0 0 5px 5px;
    background: linear-gradient(#6575fc, #78bce4);
    padding-right: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
}

#other > img{
    width: 32px;
    height: 25px;
}

.en , .es{
    padding-top: 5px;
}

#main-nav{
    display: none;
    grid-template-columns: 1fr;
    padding-top: 74px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 99;
}

#main-nav > ul {
    display: grid;
    grid-template-rows: 40px 40px 40px 40px;
    background-color: #6575fc;
}

nav > ul > li{
    display: flex;
    justify-content: center;
    align-items: center;
}

nav > ul > li > a{
    color: #551a8b;
}

/** SLIDER **/
#slider_container{
    position: relative;
    padding-top: 74px;
}

.slider img{
    max-width: 100%;
    display: none;
}

img.active{
    display: block;
    animation: fade 0.8s;
    height: 210px;
    object-fit: cover;
}

@keyframes fade {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.cont_btn{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0;
}

.btn-nav{
    margin: 0 15px;
}

#first , #second{
    cursor: pointer;
    line-height: 30px;
    font-size: 2.5em;
}

/** L'ASSOCIATION **/

.bandeau_accueil{
    text-align: center;
    align-items: center;
    line-height: 20px;
    background-color: rgba(101,117,252,0.5);
    display: grid;
    grid-template-rows: auto auto;
    padding: 20px;
}

.bandeau_accueil > h1{
    padding: 10px 0;
}

/** FILMS RÉCENT **/

#movies{
    display: grid;
    grid-template-rows: 40px 210px 210px;
    align-items: center;
    text-align: center;
    background-color: rgba(101,117,252,0.6);
}

#movies > figcaption{
    padding: 10px;
}

#movies > figure{
    border-color: darkslateblue;
    display: grid;
    grid-template-rows: 150px 40px;
    align-items: center;
}

#movies > figure > img{
    height: 150px;
    object-fit: cover;
}

figcaption > button{
    width: 70%;
    height: 40px;
    border-radius:1.15em;
    box-sizing: border-box;
    text-transform:uppercase;
    color:#FFFFFF;
    background-color:#6575fc;
    box-shadow:inset 0 -0.6em 0 -0.35em rgba(0,0,0,0.17);
}

/** A PROPOS **/

#about{
    display: grid;
    grid-template-rows: auto auto;
    text-align: center;
    align-items: center;
    line-height: 20px;
    background-color: rgba(101,117,252,0.5);
    padding: 20px;
}

#about > h2{
    padding: 10px 0;
}

/** FOOTER **/

#footer-main{
    display: flex;
    height: 140px;
    justify-content: center;
    align-items: center;
    background: linear-gradient(#6575fc, #78bce4);
}

#footer-main > a{
    width: 50%;
}

#footer-main > a > img{
    width: auto;
    margin: 0 auto;
    height: 60px;
}

#footer-main > nav{
    line-height: 30px;
}

/** Reservation **/
#reservation{
    display: grid;
    padding-top: 75px;
    position: relative;
}

.bandeau{
    padding-top: 74px;
    text-align: center;
    align-items: center;
    line-height: 20px;
    background-color: rgba(101,117,252,0.5);
    display: grid;
    grid-template-rows: 80px;
    position: relative;
}

.bandeau > h1{
    padding: 10px 0;
}

#recap_reservation{
    display: grid;
    grid-template-rows: auto auto;
    margin: 10px;
    grid-gap: 10px;
}

#recap{
    border: 4px solid darkgray;
    text-align: center;
    padding: 10px;
}

#form_resea{
    border: 4px solid darkgray;
    text-align: center;
    padding: 10px;
}

#form1 > button{
    width: 120px;
    height: 30px;
    margin: 10px;
    border-radius:1.15em;
    box-sizing: border-box;
    text-transform:uppercase;
    color:#FFFFFF;
    background-color:#6575fc;
    box-shadow:inset 0 -0.6em 0 -0.35em rgba(0,0,0,0.17);
}

/** CONFIRMATION **/

#confirmation{
    display: grid;
    grid-template-rows: auto auto 50px;
    margin: 10px;
    padding: 10px;
    grid-gap: 10px;
    text-align: center;
    border: 4px solid darkgray;
}

#confirmation p:last-child{
    text-align: end;
    align-self: center;
}

/** PROCHAINEMENT **/

#prochain_films{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 390px;
    grid-gap: 10px;
    margin: 10px;
}

#prochain_films > figure{
    display: grid;
}

#prochain_films > figure > img{
    object-fit: cover;
    height: 300px;
}

/** DETAILS DU FILM **/

#details{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    grid-template-areas:
            "imag syn"
            "details details";
}

.img-detail{
    grid-area: imag;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-detail > img{
    object-fit: contain;
}

#details > #details_text{
    grid-area: syn;
    grid-gap: 10px;
    margin: 10px;
}

.infos{
    grid-area: details;
    margin: 10px;
}

.info_global{
    display: flex;
    border: 2px solid darkgray;
    align-items: center;
    justify-content: center;
}

.info1{
    text-align: center;
    padding: 15px;
}

.lieu{
    border: 2px solid darkgray;
    padding: 15px;
}

.lieu > h3{
    text-align: center;
}

.form_details{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.form_details > button, .filters > .btn-filter > button, #formContact > button{
    width: 50%;
    height: 30px;
    border-radius:1.15em;
    box-sizing: border-box;
    text-transform:uppercase;
    color:#FFFFFF;
    background-color:#6575fc;
    box-shadow:inset 0 -0.6em 0 -0.35em rgba(0,0,0,0.17);
}

/** FILMS **/

.filters{
    margin: 10px;
    display: grid;
    grid-template-rows: auto auto auto auto auto;
    grid-gap: 10px;
    text-align: center;
    align-items: center;
}

#language-filter{
    border: 2px solid grey;
    border-radius: 5px;
    background-color: darkgray;
}

#gender{
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: 2px solid grey;
    border-radius: 5px;
    background-color: darkgray;
}

.movies-2{
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    margin: 20px 0 20px 0;
}

.movies-3x{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}

.movies-2 > .icon-arrow-left, .movies-2 > .icon-arrow-right{
    display: flex;
    align-items: center;
    justify-content: center;
}
.search-barre{
    padding-top: 10px;
    text-align: center;
}

.search-barre > input{
    padding: 5px;
}

.search-barre > button{
    border-radius:0.15em;
    box-sizing: border-box;
    color:#FFFFFF;
    background-color:#6575fc;
    box-shadow:inset 0 -0.6em 0 -0.35em rgba(0,0,0,0.17);
}

.icon-arrow-right > i, .icon-arrow-left > i{
    padding: 10px;
    border: 1px solid #ffffff;
    border-radius: 100%;
    background-color: #6575fc;
}

.movies-3x > figure > img{
    max-height: 195px;
}

.movies-3x > figure > figcaption{
    text-align: center;
}

/** CONTACT **/

#formContact{
    border: 2px solid grey;
    padding: 10px;
    display: grid;
    justify-content: center;
    margin: 0 50px;
}

#formContact > div{
    text-align: center;
}

#formContact > input, #formContact > textarea, label{
    font-size: 1.5rem;
}

.map-responsive{
    position: relative;
    margin: 10px 50px 10px 50px;
    padding: 5px;
    height: 250px;
    border: 1px solid grey;
}

.map-responsive > iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.text-contact{
    text-align: center;
    padding: 20px;
}
