:root {
    font-size: 12px;
}

/** HEADER **/

.container-menu{
    grid-template-columns: auto 60px 70px;
}

.lang > a > img{
    width: 42px;
    height: 35px;
}

#other{
    top: 60px;
}

#other > img{
    width: 42px;
    height: 35px;
}

#main-nav > ul {
    grid-template-rows: 60px 60px 60px 60px;
}

/** SLIDER **/

img.active{
    height: 350px;
}

/** FILM RECENT **/

#movies{
    grid-template-rows: 50px repeat(6, 340px);
}

#movies > figure{
    grid-template-rows:260px 80px;
}

#movies > figure > img{
    height: 260px;
}

.movies-3x > figure > img{
    object-fit: contain;
}

/** FOOTER **/

#footer-main{
    height: 200px;
}

#footer-main > a > img{
    width: 70%;
    height: 130px;
}

/** DETAILS DU FILM **/

#details{
    grid-template-areas:
            "imag syn"
            "imag details";
}

#formDetailsFilmReserv{
    display: grid;
    align-items: center;
}

.lieu{
    padding: 20px;
}

/** RESERVATION **/
#recap_reservation{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#recap{
    width: 80%;
}

#form_resea{
    width: 80%;
}

/** CONTACT **/

#formContact > input, #formContact > textarea, label{
    font-size: 1.5rem;
}